@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
h5 {
  font-family: sans-serif !important;
  font-weight: 300 !important;
}
h1 {
  font-family: "Poppins", sans-serif !important;
  font-weight: 600 !important;
}

ul {
  list-style: none;
  padding-left: 0 !important;
}

.lista-horizontal ul {
  display: inline-block;
}

body {
  font-family: "Poppins", sans-serif !important;
  color: #fff;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #080608 32%, #6610f2,  #080608);
}

header {
  background-color: transparent;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

h1 {
  color: #fff !important;
  font: normal normal 800 60px / 70px "Inter", sans-serif;
  font-size: 48px;
  font-weight: 400;
}

h2 {
  color: #fff !important;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 20px;
}

h6 {
  color: #fff !important;
  margin-bottom: 0%;
  font-weight: 600;
  line-height: 1.5;
  font-size: 20px !important;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav li {
  display: inline-block;
  margin: 0 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  transition: color 0.3s;
}

nav a:hover {
  color: #ddd;
}

main {
  padding: 20px;
}

p {
  color: #fff;
  line-height: 1.5;
}

#sessao-sobre-mim {
  margin-top: 10%;
}

#sobre-mim {
  color: #fff;
}

.txt-botao-conversar {
  display: flex;
  font-size: 18px;
}

.btn-colorido {
  position: relative;
  background: linear-gradient(
    330deg,
    #6610f2 0%,
    #ffd88d 30%,
    #ff76d5 65%,
    #6610f2 100%
  );
  border: none;
  margin: 12px;
  padding: 0;
  width: 174px;
  height: 48px;
  text-align: center;
  color: #000;
  display: block;
  cursor: pointer;
  border-radius: 24px;
  font: normal bold 25px / 32px "Inter", sans-serif;
}

.btn-colorido::before {
  content: attr(data-content); /* Pega o texto do atributo data-content */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background-color: #0d0d0e;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 400;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  top: 2px;
  left: 2px;
  border-radius: 40px;
  z-index: 5;
  position: absolute;
}

.btn-colorido:hover::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    330deg,
    #6610f2 0%,
    #ffd88d 30%,
    #ff76d5 65%,
    #6610f2 100%
  );
  border-radius: 24px;
  filter: blur(5px);
  transition: all 0.2s ease-in-out;
  z-index: -1;
}

.box-sobre {
  display: flex;
  justify-content: center;
  padding-top: 2.5rem;
  color: #fff;
}

.skill-logo {
  position: relative; /* Necessário para o pseudo-elemento */
  z-index: 1; /* Garante que a logo fique acima do gradiente */
}

.skill-logo::before {
  content: ""; /* Cria o pseudo-elemento */
  position: absolute;
  top: -15px; /* Ajusta o tamanho do brilho */
  left: -15px;
  right: -15px;
  bottom: -15px;
  border-radius: 50%; /* Faz o brilho acompanhar o formato circular */
  background: linear-gradient(
    330deg,
    #6610f2 0%,
    #ffd88d 30%,
    #ff76d5 65%,
    #6610f2 100%
  ); /* Aplica o gradiente */
  filter: blur(10px); /* Adiciona o efeito de desfoque */
  z-index: -1; /* Coloca o gradiente atrás da logo */
  opacity: 0; /* Inicialmente invisível */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Transição suave */
}

.skill-logo:hover::before {
  opacity: 1; /* Faz o gradiente aparecer no hover */
  transform: scale(1.2); /* Expande levemente o gradiente no hover */
}

.text-sobre {
  width: 50%;
}

.logos-tec {
  margin-top: 14%;
  margin-bottom: 14%;
}

.box-texto-logos {
  color: #fff;
  font-family: sans-serif;
  margin-top: 3rem !important;
  margin-bottom: 5rem !important;
  padding-bottom: 5%;
}

#linha-logos {
  padding-bottom: 5%;
}

.box-logo {
  width: 100%;
  top: 72%;
  right: 50%;
  animation-delay: 200ms;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transições suaves */
}

.box-logo:hover {
  transform: scale(1.2); /* Aumenta o tamanho no hover */
}

#linha-projetos-1 {
  display: flex;
  justify-content: space-between;
}

#linha-projetos-2 {
  display: flex;
  justify-content: space-between;
}

.logo-container {
  position: relative; /* Necessário para o uso de ::after */
  display: inline-block; /* Para ajustar ao conteúdo */
}

.logo-container::after {
  content: "";
  position: absolute;
  bottom: -12px; /* Ajuste conforme necessário */
  left: 50%;
  transform: translateX(-50%);
  width: 60%; /* Proporção da sombra em relação ao elemento */
  height: 10px; /* Altura da sombra */
  background: rgba(0, 0, 0, 0.4); /* Cor da sombra */
  filter: blur(8px); /* Suaviza a sombra */
  z-index: -1; /* Coloca a sombra atrás da logo */
  border-radius: 50%; /* Faz a sombra oval */
  pointer-events: none; /* Evita interferências ao clicar */
}

.portifolio-box {
  display: flex; /* Habilita flexbox para as divs */
  justify-content: space-between; /* Distribui espaço entre as divs */
  align-items: flex-start; /* Alinha verticalmente no topo */

  margin: 0 auto; /* Centraliza horizontalmente */
}

#carouselSkills {
  padding-bottom: 5%;
}

.box-projeto {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.5s ease-in-out, border 0.5s ease-in-out;
  position: relative;
  padding: 0 !important;
}

.box-projeto img {
  width: 100%;
  object-fit: cover;
}


.txt-magmeta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projeto p {
  margin-bottom: 10px;
}

.swiper-pagination {
  display: none !important;
}

.container-footer {
  margin-top: 14%;
  
}

footer {
  background-color: transparent;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer li {
  display: inline-block;
  margin: 0 10px;
}

footer a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  transition: color 0.3s;
}

footer a:hover {
  color: #ddd;
}

.circle {
  width: 298px;
  height: 298px;
  margin-top: 24px;
  border-radius: 50%;
  background-color: #6610f2;
  overflow: hidden; /* Garante que a imagem não ultrapasse os limites */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
}

.circle img {
  width: 100%; /* Ajusta a largura da imagem para preencher o círculo */
  height: 100%; /* Ajusta a altura da imagem */
  object-fit: cover; /* Garante que a imagem se adapte sem distorção */
}

.linha-cab {
  margin-top: 2rem !important;
  align-items: center !important;
  display: flex !important;
  flex-direction: column !important;
  padding: 0 !important;
}
